@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

body {
    background-color: gray;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 5rem;
    margin-bottom: 4rem;
    color: black;
}

h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 3rem;
    padding: 1.5rem;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    color: black;
    background: lightskyblue;
    text-decoration: none;
    border-radius: 25px;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}

#leaderboard-btn {
    background: goldenrod;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 25px;
    background: lightskyblue;
    font-size: 3rem;
    min-width: 80rem;
    padding: 0.5rem;
}

.choice-container:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.choice-prefix {
    padding: 0.5rem;
}

.choice-text {
    padding: 0.5rem;
    width: 100%;
}

.correct {
    background: green;
}

.incorrect {
    background: red;
}

/*Heads Up Display*/
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 1.5rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid green;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: green;
    width: 0%;
}


@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 30rem;
    }
}